.box2
  .box-inner
    = form_with model: @user, url: user_session_path, local: true do |f|
      %h1 ログイン
      .box-email
        = f.label :email, "Eメール"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .box-password
        .a-row
          .column-left
            = f.label :password, "パスワード"
        = f.password_field :password, autocomplete: "current-password"
      .box-login
        = f.submit "ログイン"
    .box-newusr
      %p
        %span ------------
        新しいお客様ですか？
        %span ------------
      = link_to "新規登録", new_user_registration_path
