= form_with(model: work) do |form|
  - if work.errors.any?
    #error_explanation
      %h2
        = pluralize(work.errors.count, "error")
        prohibited this work from being saved:
      %ul
        - work.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :user_id
    = form.number_field :user_id
  .field
    = form.label :date
    = form.date_select :date
  .field
    = form.label :start_time
    = form.time_select :start_time
  .field
    = form.label :end_time
    = form.time_select :end_time
  .field
    = form.label :abcent
    = form.check_box :abcent
  .actions
    = form.submit
