= form_for @work do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.label :date, "日付"
    = f.date_field  :date, class: 'form-control'
  .field
    = f.label :start_time, "出社時間"
    = f.time_field  :start_time, class: 'form-control'
  .field
    = f.label :end_time, "退社時間"
    = f.time_field :end_time, class: 'form-control'
  .actions
    -  if request.path_info = new_work_path
      = f.submit  "登録する", class: "btn btn-primary"
    - else
      = f.submit  "更新する", class: "btn btn-primary"
