%p#notice= notice
%h1 Works
%table.table
  %thead
    %tr
      %th{:scope => "col"} 日付
      %th{:scope => "col"} 業務開始時刻
      %th{:scope => "col"} 業務終了時刻
      %th{:colspan => "2"}
  %tbody
    - @works.each do |work|
      %tr
        %td= work.date
        %td= work.start_time
        %td= work.end_time
        %td= link_to '編集', edit_work_path(work)
        %td= link_to '削除', work, method: :delete, data: { confirm: '削除してよろしいですか?' }
%br/
