%p#notice= notice
%h1 #{@date.strftime("%Y年%m月")} 勤務表

%h2.text-left= link_to '前月', works_path(year: @date.last_month.year, month: @date.last_month.mon), class: "col-md-6"
%h2.text-right= link_to '来月', works_path(year: @date.next_month.year, month: @date.next_month.mon), class: "col-md-6"
%table.table
  %thead
    %tr
      %th{:scope => "col"} 日付
      %th{:scope => "col"} 業務開始時刻
      %th{:scope => "col"} 業務終了時刻
      %th{:colspan => "2"}
  %tbody
    - @works.each do |work|
      %tr
        %td= work.date
        %td= work.start_time.strftime("%H時%M分")
        %td= work.end_time.strftime("%H時%M分")
        %td= link_to '編集', edit_work_path(work)
        %td= link_to '削除', work, method: :delete, data: { confirm: '削除してよろしいですか?' }