%p#notice= notice
%h1 Works
%table
  %thead
    %tr
      %th User
      %th Date
      %th Start time
      %th End time
      %th Abcent
      %th{:colspan => "3"}
  %tbody
    - @works.each do |work|
      %tr
        %td= work.user_id
        %td= work.date
        %td= work.start_time
        %td= work.end_time
        %td= work.abcent
        %td= link_to 'Show', work
        %td= link_to 'Edit', edit_work_path(work)
        %td= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Work', new_work_path
