<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @work.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @work.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @work.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @work.end_time %>
</p>

<p>
  <strong>Abcent:</strong>
  <%= @work.abcent %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
