= form_with(model: break) do |form|
  - if break.errors.any?
    #error_explanation
      %h2
        = pluralize(break.errors.count, "error")
        prohibited this break from being saved:
      %ul
        - break.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :user_id
    = form.number_field :user_id
  .field
    = form.label :date
    = form.date_select :date
  .field
    = form.label :start_time
    = form.time_select :start_time
  .field
    = form.label :end_time
    = form.time_select :end_time
  .actions
    = form.submit
