<p id="notice"><%= notice %></p>

<h1>Breaks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breaks.each do |break| %>
      <tr>
        <td><%= break.user_id %></td>
        <td><%= break.date %></td>
        <td><%= break.start_time %></td>
        <td><%= break.end_time %></td>
        <td><%= link_to 'Show', break %></td>
        <td><%= link_to 'Edit', edit_break_path(break) %></td>
        <td><%= link_to 'Destroy', break, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Break', new_break_path %>
