%body
  %header.navbar.navbar-inverse
    .container
      = link_to "勤怠システム", root_path, id: "logo"
      %nav
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to "Work", works_path
            %li= link_to "アカウント設定", edit_user_registration_path
            %li= link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            %li= link_to "ログイン", user_session_path
